## Importing the required libraries and packages

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score
import warnings
warnings.filterwarnings('ignore')

## Importing the Data

In [2]:
telecom = pd.read_csv("telecom_churn_data.csv")
telecom.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
# Checking the dimensions of the dataset
telecom.shape

(99999, 226)

## Filtering High Value Customers

High Value Customers are those who have recharged with an amount more than or equal to X, where X is the 70th percentile of the average recharge amount in the first two months (the good phase).

In [4]:
# Deriving features to extract high value customers
# For this we are finding out the total amount spend by customers on Data Recharge
telecom['total_rech_data_amt_6'] = telecom['av_rech_amt_data_6'] * telecom['total_rech_data_6']
telecom['total_rech_data_amt_7'] = telecom['av_rech_amt_data_7'] * telecom['total_rech_data_7']
telecom['total_rech_data_amt_8'] = telecom['av_rech_amt_data_8'] * telecom['total_rech_data_8']
telecom['total_rech_data_amt_9'] = telecom['av_rech_amt_data_9'] * telecom['total_rech_data_9']

In [5]:
# Now we can drop the columns av_rech_amt_data_X and total_rech_data_X
telecom.drop(['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 'av_rech_amt_data_6', 
              'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9'], axis = 1, inplace = True)

In [6]:
# Finding out the average recharge done in the months of June & July, i.e. good phase
telecom_av_rech_gp = (telecom['total_rech_amt_6'].fillna(0) + telecom['total_rech_amt_7'].fillna(0)
                      + telecom['total_rech_data_amt_6'].fillna(0) + telecom['total_rech_data_amt_7'].fillna(0)) / 2

In [7]:
# Finding out 70 percentile of the above value
percentile_70_gp = np.percentile(telecom_av_rech_gp, 70.0)
print("70 percentile is : ", percentile_70_gp)

70 percentile is :  478.0

In [8]:
# Since we have the 70 percentile value, we can filter the data based on this value
telecom_hv_cust = telecom[telecom_av_rech_gp >= percentile_70_gp]

In [9]:
telecom_hv_cust.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,total_rech_data_amt_9
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,NaN,968,30.40,0.00,101.20,3.58,252.0,252.0,252.0,NaN
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,NaN,802,57.74,19.38,18.74,0.00,NaN,NaN,NaN,NaN
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,315,21.03,910.65,122.16,0.00,NaN,354.0,207.0,NaN
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,NaN,720,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
23,7000887461,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,74.350,...,1.0,604,40.45,51.86,0.00,0.00,NaN,712.0,540.0,252.0

In [10]:
telecom_hv_cust.shape

(30001, 222)

So, after filtering High Value Customers, the dimensions of dataset got reduced to (30001, 222) from (99999, 226)

# Identifying Churners

Here, we will add a new column "churn" to the dataset based on whether the customer churned or not

In [11]:
telecom_hv_cust['churn'] = np.where(telecom_hv_cust[['total_ic_mou_9', 'total_og_mou_9', 'vol_2g_mb_9', 
                                                     'vol_3g_mb_9']].sum(axis=1) == 0, 1, 0)

In [12]:
telecom_hv_cust.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,total_rech_data_amt_6,total_rech_data_amt_7,total_rech_data_amt_8,total_rech_data_amt_9,churn
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,968,30.40,0.00,101.20,3.58,252.0,252.0,252.0,NaN,1
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,802,57.74,19.38,18.74,0.00,NaN,NaN,NaN,NaN,1
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,315,21.03,910.65,122.16,0.00,NaN,354.0,207.0,NaN,0
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,720,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,0
23,7000887461,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,74.350,...,604,40.45,51.86,0.00,0.00,NaN,712.0,540.0,252.0,0

In [13]:
# Finding the churn percentage
telecom_hv_cust['churn'].value_counts() / len(telecom_hv_cust) * 100

0    91.863605
1     8.136395
Name: churn, dtype: float64

From the above data it is evident that almost 91% of customers don't churn but that may be because of class imbalance as well.

# Data Cleaning

In [23]:
# Finding out columns with only one unique value
unique_list = []
for i in telecom_hv_cust.columns:
    if len(telecom_hv_cust[i].value_counts()) == 1:
        unique_list.append(i)

In [24]:
print(unique_list)

['circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_t2o_mou_9']

In [25]:
# Dropping these columns from the dataset
telecom_hv_cust.drop(unique_list, axis=1, inplace=True)

In [26]:
telecom_hv_cust.shape

(30001, 207)

In [29]:
# Checking the null values present in the dataset
(telecom_hv_cust.isnull().sum() * 100 / len(telecom_hv_cust.index)).sort_values(ascending=False)

total_rech_data_amt_9    49.268358
count_rech_3g_9          49.268358
arpu_3g_9                49.268358
arpu_2g_9                49.268358
night_pck_user_9         49.268358
                           ...
last_day_rch_amt_7        0.000000
last_day_rch_amt_8        0.000000
last_day_rch_amt_9        0.000000
vol_2g_mb_6               0.000000
mobile_number             0.000000
Length: 207, dtype: float64

In [31]:
# Dropping columns with more than 30% missing values except 9th Month's columns as per the problem statement
cols = telecom_hv_cust.columns
telecom_null_perc = telecom_hv_cust.isnull().sum() * 100 / len(telecom_hv_cust)
telecom_null_df = pd.DataFrame({'col_name': cols, 'perc_null': telecom_null_perc})
telecom_null_df.head()

                    col_name  perc_null
mobile_number  mobile_number        0.0
arpu_6                arpu_6        0.0
arpu_7                arpu_7        0.0
arpu_8                arpu_8        0.0
arpu_9                arpu_9        0.0

In [33]:
drop_cols = telecom_null_df.loc[(telecom_null_df["col_name"].str.contains('_9') == False) & 
                                (telecom_null_df["perc_null"] > 30.0)]["col_name"]
drop_cols

date_of_last_rech_data_6    date_of_last_rech_data_6
date_of_last_rech_data_7    date_of_last_rech_data_7
date_of_last_rech_data_8    date_of_last_rech_data_8
max_rech_data_6                      max_rech_data_6
max_rech_data_7                      max_rech_data_7
max_rech_data_8                      max_rech_data_8
count_rech_2g_6                      count_rech_2g_6
count_rech_2g_7                      count_rech_2g_7
count_rech_2g_8                      count_rech_2g_8
count_rech_3g_6                      count_rech_3g_6
count_rech_3g_7                      count_rech_3g_7
count_rech_3g_8                      count_rech_3g_8
arpu_3g_6                                  arpu_3g_6
arpu_3g_7                                  arpu_3g_7
arpu_3g_8                                  arpu_3g_8
arpu_2g_6                                  arpu_2g_6
arpu_2g_7                                  arpu_2g_7
arpu_2g_8                                  arpu_2g_8
night_pck_user_6                    night_pck_user_6
night_pck_user_7                    night_pck_user_7
night_pck_user_8                    night_pck_user_8
fb_user_6                                  fb_user_6
fb_user_7                                  fb_user_7
fb_user_8                                  fb_user_8
total_rech_data_amt_6          total_rech_data_amt_6
total_rech_data_amt_7          total_rech_data_amt_7
total_rech_data_amt_8          total_rech_data_amt_8
Name: col_name, dtype: object

In [34]:
telecom_hv_cust.drop(drop_cols, axis=1, inplace=True)
telecom_hv_cust.shape

(30001, 180)

In [36]:
# Checking the columns of object datatype to verify whether they can be converted to numeric or any other datatype or not
object_col_data = telecom_hv_cust.select_dtypes(include = ['object'])
object_col_data.iloc[0]

date_of_last_rech_6         6/21/2014
date_of_last_rech_7         7/16/2014
date_of_last_rech_8          8/8/2014
date_of_last_rech_9         9/28/2014
date_of_last_rech_data_9          NaN
Name: 0, dtype: object

In [37]:
# Since all of the above columns are date columns, they can be converted to DateTime datatype
for item in object_col_data.columns:
    telecom_hv_cust[item] = pd.to_datetime(telecom_hv_cust[item])
telecom_hv_cust.shape

(30001, 180)

In [47]:
# Checking for collinearity between the columns
cor = telecom_hv_cust.corr()
cor.loc[:,:] = np.tril(cor, k=-1)
cor = cor.stack()

In [53]:
# Finding the columns having more than 60% collinearity
cor[(cor > 0.60) | (cor < -0.60)].sort_values()

monthly_3g_6      vol_3g_mb_6         0.601308
total_ic_mou_7    loc_ic_t2t_mou_7    0.601684
arpu_2g_9         count_rech_3g_9     0.602386
total_og_mou_8    onnet_mou_9         0.603450
total_rech_amt_8  arpu_6              0.603673
                                        ...
isd_og_mou_8      isd_og_mou_7        0.949809
                  isd_og_mou_6        0.950194
total_rech_amt_9  arpu_9              0.950539
total_rech_amt_8  arpu_8              0.955351
sachet_2g_9       count_rech_2g_9     0.980131
Length: 337, dtype: float64

In [54]:
high_col_list = ['loc_og_t2m_mou_6', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7', 'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 
                 'std_og_t2m_mou_6', 'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2m_mou_9', 'total_og_mou_6', 
                 'total_og_mou_7', 'total_og_mou_8', 'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8', 
                 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 
                 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7', 'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9', 'total_ic_mou_6', 
                 'total_ic_mou_7', 'total_ic_mou_8', 'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 
                 'total_rech_amt_9', 'arpu_2g_9', 'count_rech_2g_9', 'count_rech_3g_9', 'vol_3g_mb_6', 'vol_3g_mb_7', 
                 'vol_3g_mb_8', 'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8', 'loc_og_t2t_mou_9', 
                 'loc_og_t2f_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9', 'loc_og_t2m_mou_6', 
                 'loc_og_t2m_mou_7', 'loc_og_t2m_mou_8', 'loc_og_t2m_mou_9', 'loc_ic_t2f_mou_6', 'loc_ic_t2f_mou_7', 
                 'loc_ic_t2f_mou_8', 'loc_ic_t2f_mou_9', 'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8']

In [55]:
# Dropping all these columns from dataset
telecom_hv_cust.drop(high_col_list, axis=1, inplace=True)
telecom_hv_cust.shape

(30001, 125)

In [56]:
# Deleting columns related to 9th month as we would only require the columns from first 3 months as per problem statement
col_9th = [col for col in telecom_hv_cust.columns if '_9' in col]
col_9th

['arpu_9',
 'onnet_mou_9',
 'offnet_mou_9',
 'roam_ic_mou_9',
 'roam_og_mou_9',
 'loc_og_t2c_mou_9',
 'loc_og_mou_9',
 'std_og_t2f_mou_9',
 'std_og_mou_9',
 'isd_og_mou_9',
 'spl_og_mou_9',
 'og_others_9',
 'total_og_mou_9',
 'loc_ic_mou_9',
 'std_ic_t2t_mou_9',
 'std_ic_t2f_mou_9',
 'std_ic_mou_9',
 'total_ic_mou_9',
 'spl_ic_mou_9',
 'isd_ic_mou_9',
 'ic_others_9',
 'total_rech_num_9',
 'max_rech_amt_9',
 'date_of_last_rech_9',
 'last_day_rch_amt_9',
 'date_of_last_rech_data_9',
 'max_rech_data_9',
 'vol_2g_mb_9',
 'vol_3g_mb_9',
 'arpu_3g_9',
 'night_pck_user_9',
 'monthly_2g_9',
 'sachet_2g_9',
 'monthly_3g_9',
 'sachet_3g_9',
 'fb_user_9',
 'total_rech_data_amt_9']

In [57]:
telecom_hv_cust.drop(col_9th, axis=1, inplace=True)
telecom_hv_cust.shape

(30001, 88)